h1, h2{
	text-align: center;
	margin:0;
	padding:0;
}

h1{
	font-size: 2em;
}

h2{
	font-size: 1.5em;
	font-weight:lighter;
}

.red{
	color:#af0000;
}

.grey{
	color:#999999;
}

.meet-me{
	width:;
	margin: 0 auto;
}

body{
	margin:0;
	padding:0;
	font-family: 'Raleway', sans-serif;
}

.the-whole-page{
	position:absolute;
	width:100%;
	height:500px;
	margin:0 auto;
	margin-top: 20px;

}

.button-holder-wide{
	position:relative;
	display:block;
	width:100%;
	margin:0;
	text-align: center;
}

.button-holder{
	margin:10px auto 20px auto;
}

#map-canvas{
	display:block;
	height:80%;
}

.update{
	width:100%;
}

.gravatar{
	width:100px;
	height:100px;
	display:block;
	margin: 0 auto;
}

.left, .middle, .right{
	height:100%;
	width:20%;
}

.left{
	display: block;
	float: left;
}

.meet-me{
	width:100%;
	text-align:center;
}

.middle{
	display: block;
	width: 60%;
	float: left;
}

.right{
	float: left;
	margin: auto auto auto 0;
}

.hidden, .mobile-left, .mobile-right{
	display:none;
}

.form-left {
	display: block;
	float: left;
	width: 35%;
	text-align: center;
}

.form-right {
	float: left;
	margin: auto auto auto 0;
	text-align: center;
	width: 35%;
}

.form-middle {
	width: 30%;
	text-align: center;
}

form {
	margin-top: 20px;
}

input[type='text'] {
	margin: 0 0 10px 0;
	font-size: large;
}

input[type='submit'] {
	border:1px #7f8c8d solid;
	background-color:#7f8c8d;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	margin: 0 auto;
	padding: 5px 8px;
	color:white;
	font-family: 'Raleway', sans-serif;
	width: 150px;
	height: 50px;
	font-size: 2em;
	border-radius:10px;
}

textarea{
	width:90%;
	display:block;
	margin: 0 auto 5px auto;
	resize:none;
	border:0;
	text-align:center;
	font-family: 'Raleway', sans-serif;
	font-size:1em;
}

button{
	border:1px #7f8c8d solid;
	background-color:#7f8c8d;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	margin: 0 auto;
	padding: 5px 8px;
	color:white;
	font-family: 'Raleway', sans-serif;
}

button:focus{
	outline:none;
}

button.update-button{
	display:block;
	margin: 0 auto;
}

button.symbol{
	margin:0px 10px 0px 10px;
	width:50px;
	height:50px;
	font-size: x-large;
}

button.symbol:hover{
	background-color: #af0000;
	border: 1px #580000 solid;
	transition: 1s;
}

button.symbol-active{
	border:1px #106099 solid;
	background-color:#2980BB;
}

.arrow{
	font-size:2.5em;
	color:gray;
	margin-right:10px;
	margin-left:10px;
}

@media (max-width:600px){
	h1{
		font-size:1.5em;
	}
	h2{
		font-size:1em;
	}
	.form-left, .form-middle, .form-right{
		width:100%;
		float:none;
		margin: 20px 0;
	}
}

@media (max-width:500px){
	#map-canvas{
		height:70%;
	}

	.middle{
		display:block;
		width:100%;
		margin:0;
		padding:0;
  }

  .left, .right{
		display:none;
  }

  .form-left, .form-right{
  	display:block;
  }

  .mobile-left, .mobile-right{
  	display:block;
  	width:100%;
  	margin: 0 auto;
  }

  .gravatar{
		width:100px;
		height:100px;
		display:inline-block;
		vertical-align: top;
	}

	textarea{
		display:inline-block;
		vertical-align: top;
		text-align: left;
		width:50%;
		height:80px;
	}

	.update{
		float:right;
		vertical-align:top;
		width:10%;
	}

	button.update-button{
		vertical-align:top;
		display:inline-block;
		height:80px;
	}
}