<% layout('layout') -%>
<div class='the-whole-page'>
    <div class="header">
      <h1><span class="red">meet</span><span class="grey"> in </span>the middle</h1>
    </div>
    <form action="/middle" method="get">
      <div class='left form-left'>
          <input id='email1' type='text' name='email1' placeholder='email'><br>
          <input id='location1' type='text' name='address1' placeholder='address'>
        </div>
      <div class='middle form-middle'>
        <div class="meet-me">
          <input type='submit' value='Meet!'>
        </div>
      </div>
      <div class='right form-right'>
          <input id='email2' type='text' name='email2' placeholder='email'><br>
          <input id='location2' type='text' name='address2' placeholder='address'>
      </div>
    </form>
</div>