<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Middle</title>
  <script src="/javascripts/md5.js"></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>
  <%-body -%>
</body>
</html>
