<% layout('layout') -%>
<div class="the-whole-page">
  <div class="left">
    <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=http://slacktiverse.files.wordpress.com/2013/03/fuzzy-white-kitten-with-stubby-legs-from-sam_ayye-sam-pertsas.jpg" alt="Left Side User" class="gravatar gravatar-left">
    <textarea id="address1" placeholder="Person 1 Address"></textarea>
    <div class="update">
     <button class="update-button">Update Address</button>
   </div>
   <div class="directions1"></div>
 </div>
 <div class="middle">
  <div class="header">
    <h1><span class="red">meet</span><span class="grey"> in </span>the middle</h1>
  </div>
  <div class="button-holder-wide">
   <div class="button-holder">
    <button class="symbol symbol-active" data-id='cafe'><i class="fa fa-coffee"></i></button>
    <button class="symbol" data-id='restaurant'><i class="fa fa-cutlery"></i></button>
    <button class="symbol" data-id='bar'><i class="fa fa-glass"></i></button>
  </div>
</div>
<div id='map'></div>

</div>
<div class="right">
  <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=http://i.dailymail.co.uk/i/pix/2012/07/03/article-2168112-13E70C13000005DC-867_964x946.jpg" alt="Right Side User" class="gravatar gravatar-right">
  <textarea id="address2" placeholder="Person 2 Address"></textarea>
  <div class="update">
   <button class="update-button">Update Address</button>
 </div>
 <div class="directions2"></div>
</div>
</div>
<script type="text/javascript" src='/javascripts/mapbox.js'></script>
<script type="text/javascript" src='/javascripts/midstyle.js'></script>
<script type="text/javascript" src='/javascripts/app.js'></script>
